*{
    margin: 0;
    padding: 0;
    font-size: 20px;
}



.ContainerPasswordHidden{
    right: -1000px;
    position: absolute;
    transition: 1s;
    display: none;
}

.ContainerPassword{
    right: -1000px;
}

.ContainerPasswordShow{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 30px;
    right: 32%;
    height: 600px;
    width: 393px ;
    background: white;
    transition: 1s;
}



.ContainerX{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top:1px;
    right:0;
    height:25px ;
    width: 20px;
    font-size: 30px;
}

.ContainerXa{
    text-decoration: none;
    border: none;
    background: white;
    z-index: 999;
}

.ContainerXa:hover{
    color: red;
}

.ContainerText{
    position: relative;
    justify-content: center;
    align-items: center;
    display: flex;
    padding-top: 50px;
}

.ContainerPunto{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
}

.ConatinerPuntos{
    width: 15px;
    height:15px;
    border: 1px solid rgb(136, 136, 138);
    margin: 10px;
    border-radius: 10px;
}

.ConatinerPuntosBlue{
    border: 1px solid rgb(0, 183, 255);
    background-color: rgb(0, 183, 255);
}

.ContainerNumeros{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
    font-weight: 900;
   /* margin: 10px 30px;*/
    justify-content: center;
}

.numeros{
    margin: 10px 15px;
    flex-direction: row;
    width: 80px ;
    height: 80px;
    border-radius: 40px;
    font-size: 35px;
    border: none;
    background-color: rgb(226, 226, 224);
}

.numeros:last-child{
    /*margin:10px 40%;*/
}

.numeros:focus{
    border: 3px solid rgb(68, 198, 250);
}

.ConatinerEliminar{
    position: absolute;
    right: 75px;
    top: 480px;
    font-size: 35px;
    z-index: 9999;
}

.ContainerTextOlv{
    margin-top: 5px;
    font-size: 25px;
    color: rgb(68, 198, 250) ;
}



